body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.card {
    display: flex;
    margin-top: 2em;
}
.person {
    padding: 2em;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.person > * {
    margin: 0.5em;
}
.result {
    display: flex;
    flex-direction: column;
}
.person-amounts {
    font-size: small;
    border: solid 1px black;
    border-left: none;
    border-right: none;
    min-height: 2em;
}
.person-amounts button {
    margin-top: 0.05em;
    background-color: white;
    border: solid red 1px;
    color: red;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    line-height: 0.75em;
    text-indent: -0.28em;
}
.person-amounts p {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
}
.person-amounts p:hover {
    background-color: rgba(128, 128, 128, 0.13);
}
.person-total {
    text-align: center;
}